
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <div class="row">
        <div class="col-2 bg-info"></div>
        <div class="col-8 bg-info">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand text-warning" href="#"> Activity Tracker </a>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item"><a class="nav-link text-white" href="{{url_for('listing')}}">List </a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="#">Update </a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="#">Query</a></li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success text-warning my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="navbar-nav">
                            <a class="nav-item nav-link text-white" href="#"Login</a>
                            <a class="nav-item nav-link text-white" href="#"Register</a>
                    </div>
                </nav>
            </div>
                <div class="col-2 bg-info"></div>

    </div>

    <div class="row">
    <div class="col-3">welcome</div>
    <div class="col-6">{%  block content %}
                       {% endblock content %}
    </div>
    <div class="col-3"></div>


<!--Main Navigation-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
