{% extends "base.html" %}
{% block content %}
<div class="container p-2">
<table class="table table-striped">
    <caption>List of Action items</caption>
  <thead>

      <th scope="col">Name</th>
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
      <th scope="col">Created on</th>

    </tr>
  </thead>
  <tbody>

    {% for item in todo.items%}
    <tr>
        <td><a class="article-title" href="{{ url_for('item', item_id=item.id) }}">{{ item.name}}</a></td>
        <td>{{ item.content}}</td>
        <td>{{ item.status}}</td>
        <td>{{ item.date_created}} </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<div>

    {% if todo.has_prev %}<a class="btn btn-outline-info btn-sm" href="{{ url_for('listing', page=todo.prev_num) }}"> Prev </a>{% else %} <a class="btn btn-secondary btn-sm disabled">Prev</a> {% endif %}
{% if todo.has_next %}<a class="btn btn-outline-info btn-sm" href="{{ url_for('listing', page=todo.next_num) }}">Next </a>{% else %}<a class="btn btn-secondary btn-sm disabled">Next</a>{% endif %}
{% endblock content %}
