{% extends "base.html" %}

{% block content %}
%}
   <div class="card p-4">

       <div class="card-header bg-secondary text-warning"><h6>Activity Details</h6></div>
       <div class="card-body">
            test
        </div>
       <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> <br>
        <p>{{ form.submit() }}</p>
    </form>
    </div>

{% endblock %}

